.home {
  margin: 2rem 0 0 0;
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  gap: 4rem;
  height: 100vh;
}
.title,
.gallery {
  font-size: 1.8rem;
}

.gallery-image {
  display: flex;
}

@media only screen and (max-width: 692px) {
  .home {
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .gallery-image {
    flex-direction: column;
  }
}
