.home {
  margin: 2rem 0 0 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 70%;
  gap: 4rem;
  /* height: 100vh; */
}
.title,
.gallery {
  font-size: 1.8rem;
}

.gallery-image {
  display: flex;
}

.fof {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fof-heading {
  font-size: 10rem;
}
@media only screen and (max-width: 692px) {
  .home {
    flex-direction: column;
  }

  .gallery-image {
    flex-direction: column;
  }
}
